.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: gainsboro;
    gap: 50px;
    width: 500px;
    /* box-shadow: 2px 2px 5px 2px #312231; */
    border-radius: 20px;
    border: 3px solid paleturquoise;
    padding: 10px;
    list-style: none;
    margin-bottom: 10px;
}

.item:nth-child(odd) {
    background-color: gainsboro;
    transition: background-color 0.3s ease;
}

.item:nth-child(odd):hover,
.item:nth-child(even):hover {
    background-color: rgb(235, 247, 8);
}

.statusOnline {
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
}

.statusOffline {
    composes: statusOnline;
    background-color: red;
}

.name {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}












